<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Handle Name Failure</title>
    <style>
        strong{
            color: orangered;
        }
    </style>
</head>

<body>

    <div>
        <h1>The Team you wish to search for <strong>Does Not Exist</strong> please enter your Team again!</p>
    </div>

    <div>
        <ul>
            <li>To go back Home, click on: <a href="/">Home Page</a></li>
            <li>To create a Team, click on: <a href="/createTeam">Create Team</a></li>
            <li>To Search a team, click on: <a href="/searchTeam">Search Team</a></li>
        </ul>
    </div>

</body>

</html>