<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>NBA Statistics Viewer</title>
    <style>
        html {
            border-style: ridge;
            border-color: orange;
            border-width: 0.5rem;
        }
        h1 {
            text-align: center;
            color: orangered;
            text-decoration-line: underline;
        }
    </style>
</head>

<body>
    <h1>Welcome to the NBA Statistics Viewer Application</h1>
    
    <div>
        <ul>
            <li>Enter a team of exactly <em><strong>5 Players</strong></em>.</li>
            <li>Give this ideal team a <em><strong>Name</strong></em>.</li>
            <li>Click "submit" and ... THATS IT!</li>
        </ul>

        <p> &nbsp; Upon doing this...</p>

        <ol>
            <li>We will show you each players statistics for the last (2022-2023) NBA Season!</li>
            <li>To make things a little more exciting we will rate your team, so pick your players carefully!</li>
            <li>Additionally, you can create multiple teams (with different names) and search them up as well!</li>
        </ol>
    </div>

    <br>
    <hr>
    <br>

    <div>
        <ul>
            <li>To create a Team, click on: <a href="/createTeam">Create Team</a></li>
            <li>To Search a team, click on: <a href="/searchTeam">Search Team</a></li>
        </ul>
    </div>

</body>

</html>